
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div itemscope itemtype="https://schema.org/Person">
                  <div class="col-sm-6 col-md-5">
                    <div data-aos="flip-left" class="about-img">
                      <img src="assets/img/testimonial-2.jpg" class="img-fluid rounded b-shadow-a" itemprop="image" alt="Foto do Programador e Designer Gráfico Raul Rodrigues de Moraes">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      
                         <p data-aos="fade-right"><span class="title-s">Nome: </span> <span itemprop="name">Raul Rodrigues de Moraes</span></p>
                         <p data-aos="fade-right"><span class="title-s">Perfil: </span> <span itemprop="jobTitle">Desenvolvedor BackEnd e Designer Gráfico</span></p>
                         <p data-aos="fade-right"><span class="title-s">Email: </span> <span itemprop="email">contato@devluar.com</span></p>
                         <p data-aos="fade-right"><span class="title-s">Celular: </span> <span itemprop="telephone">68 9.9240-2096</span></p>
                     
                    </div>
                  </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s" data-aos="fade-right">Skills Gerais (Linguagens de Programação, Marcação, Bibliotecas e outros)</p>
                  <span data-aos="zoom-in-up">Javascript/NodeJS</span> <span data-aos="zoom-in-up" class="pull-right">80%</span>
                  <div data-aos="zoom-in-up" class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span data-aos="zoom-in-up">Python (Rápida experiência com projetos simples)</span> <span data-aos="zoom-in-up" class="pull-right">20%</span>
                  <div data-aos="zoom-in-up" class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span data-aos="zoom-in-up">C (Rápida experiência com projetos simples)</span> <span data-aos="zoom-in-up" class="pull-right">10%</span>
                  <div data-aos="zoom-in-up" class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span data-aos="zoom-in-up">HTML/CSS</span> <span data-aos="zoom-in-up" class="pull-right">40%</span>
                  <div data-aos="zoom-in-up" class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span data-aos="zoom-in-up">React Native</span> <span data-aos="zoom-in-up" class="pull-right">60%</span>
                  <div data-aos="zoom-in-up" class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span data-aos="zoom-in-up">Discord.js/Venom-bot (Bots de Redes Sociais)</span> <span data-aos="zoom-in-up" class="pull-right">90%</span>
                  <div data-aos="zoom-in-up" class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span data-aos="zoom-in-up">CorelDRAW</span> <span data-aos="zoom-in-up" class="pull-right">70%</span>
                  <div data-aos="zoom-in-up" class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span data-aos="zoom-in-up">Photoshop</span> <span data-aos="zoom-in-up" class="pull-right">30%</span>
                  <div data-aos="zoom-in-up" class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 data-aos="fade-left" class="title-left">
                      Sobre
                    </h5>
                  </div>
                  <!--
                  <p class="lead">
                    Comecei minha carreira na D l Walt como Designer Gráfico, empresa esta que não tinha muita tecnologia à disposição dos clientes, então resolvi dar uma boa melhorada, tenho experiência em algumas das principais linguagens de programação, bibliotecas e marcação, tais como JavaScript, React/React Native, HTML e CSS e outras bibliotecas comuns do desenvolvimento web.
                  </p>
                  <p class="lead">
                    Criando um site para a empresa e incrementando banco de dados para gerenciamento das entradas e pedidos. Logo sendo promovido para Diretor de Marketing, depois de 6 meses aproximadamente, gerenciando o site, anúncios no Google ADS e publicidade no geral.</p>
                  <p class="lead">
                    Tenho 16 anos, trabalho em tempo integral, moro sozinho, sempre fui rápido para aprender novas coisas e fazer sozinho, após esse curto tempo, percebi o quanto a frase "Ajudar a empresa a crescer e crescer junto ao mesmo" se aplicou à minha vida. Bom é isso!
                  </p>
                  -->
                  <p data-aos="fade-left" class="lead">
                    Raul Rodrigues de Moraes, mais conhecido na internet como Luar Rekcah é um designer e desenvolvedor.
                  </p>
                  <p data-aos="fade-left" class="lead">
                    Começou sua carreira na D Walt Engenharia como Designer Gráfico e WebDev, logo sendo promovido a Diretor de Marketing 
                    gerenciando publicações, Google ADS e outros. Realizando o desenvolvimento e manutenção do site, fora
                    tecnologias restantes para atividades específicas.
                  </p>
                  <p data-aos="fade-left" class="lead">
                    Experiência em linguagens de programação, marcação e bibliotecas conhecidas, como: JavaScript, Python, C,
                    Bootstrap, Express, React Native, Discord.js, Venom-bot, Twit, Node.js,
                    Passport, Firebase Database, EJS, HTML, CSS e Stripe.
                  </p>
                  <p data-aos="fade-left" class="lead">
                    Em softwares de manipulação vetorial e bitmap, experiência em: CorelDRAW e Photoshop.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->