<!-- ======= Contact Section ======= -->
<section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(assets/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                     Me envie uma mensagem
                    </h5>
                  </div>
                  <div>
                    <form id="form">
                      <div class="row">
                        <div data-aos="zoom-in-right" class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" class="form-control" name="from_name" id="from_name" placeholder="Seu Nome" required>
                          </div>
                        </div>
                        <div data-aos="zoom-in-right"  class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
                          </div>
                        </div>
                        <div data-aos="zoom-in-right" class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Tema de mensagem" required>
                          </div>
                        </div>
                        <div data-aos="zoom-in-right" class="col-md-12">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Mensagem" required></textarea>
                          </div>
                        </div>
                        <div data-aos="zoom-in-right" class="col-md-12 text-center">
                          <br/>
                           <input type="submit" id="button" class="button button-a button-big button-rouded" value="Enviar" >
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div data-aos="zoom-in-left" class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                     Redes Sociais
                    </h5>
                  </div>
                  <div data-aos="zoom-in-left" class="more-info">
                    <p class="lead">
                      Caso tenha se interessado nos serviços e queira me conhecer melhor, fique à vontade para acessar 
                      minhas redes sociais e entrar em contato.
                    </p>
                  </div>
                  <div class="socials">
                    <ul>
                      <li data-aos="zoom-in-left"><a href="<%= defaultConfig.fb %>"><span class="ico-circle"><i class="bi bi-facebook"></i></span></a></li>
                      <li data-aos="zoom-in-left"><a href="<%= defaultConfig.ig %>"><span class="ico-circle"><i class="bi bi-instagram"></i></span></a></li>
                      <li data-aos="zoom-in-left"><a href="<%= defaultConfig.wpp %>"><span class="ico-circle"><i class="bi bi-whatsapp"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->